/.quarto/
/_site/
/_book/
*.html
*.parquet
.Rproj.user
*.Rproj
/book/Datasets/
/book/data_manipulation_cache/
/book/first_steps_cache/
/book/benchmarking_cache/
/book/import_export_cache/
/book/index_cache/
