name: Render and Publish

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          # To install LaTeX to build PDF book 
          tinytex: true 
          # uncomment below and fill to pin a version
          version: 1.3.353

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          Ncpus: 2
          extra-repositories: https://rpolars.r-universe.dev

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2

      - name: Install polars from multiverse
        run: |
          install.packages(
            "polars",
            repos = "https://community.r-multiverse.org"
          )
        shell: Rscript {0}      

      - name: Check polars version
        run: |
          Rscript -e 'packageVersion("polars")'
          
      - name: Install tidypolars from multiverse
        run: |
          install.packages(
            "tidypolars",
            repos = c("https://community.r-multiverse.org", "https://cloud.r-project.org")
          )
        shell: Rscript {0}  

      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2
        with:
          path: book # By default, the current working dir is used i.e `quarto render .`

      - name: Publish to GitHub Pages (and render)
        if: github.event_name != 'pull_request'
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          path: book
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
